---
const { text } = Astro.props;
---

<div
  class="text-[#FF4C00] border-[1px] border-[#FF4C00] rounded-full px-3 py-0.5 inline-block"
>
  <p class="font-semibold text-xs uppercase tracking-wider">{text}</p>
</div>
