---
import * as content from "../pages/content/content.md";
import Badge from "./Badge.astro";
import ScrollableSection from "./ScrollableSection.astro";

const { headline, description, badge } = content.frontmatter.app_overview;
---

<div class="mb-6">
  <div class="container mx-auto text-center mt-8 mb-4 px-2 max-w-xs">
    <Badge text={badge} />
    <h2 class="my-2">
      {headline}
    </h2>
    <p class="type-default text-secondary">
      {description}
    </p>
  </div>

  <ScrollableSection />
</div>
