---
import MetaData from "../components/MetaData.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <MetaData />
  </head>
  <body>
    <slot />
    <style is:global>
      @font-face {
        font-family: "Effra";
        src: url("/localbytoast-inc/fonts/Effra_W_Md.woff2") format("woff2");
      }

      @font-face {
        font-family: "Source-Sans-Pro";
        src: url("/localbytoast-inc/fonts/SourceSansPro-Regular.ttf.woff2")
          format("woff2");
      }
      .h1 {
        @apply font-effra text-4xl font-[400] lg:text-6xl;
      }

      .h2 {
        @apply font-effra text-3xl md:text-[52.5px] md:leading-[3.5rem] font-[400] text-[#252525];
      }

      .h3 {
        @apply font-sans font-normal text-base md:text-2xl text-[#6C6865] leading-tight md:leading-[2rem];
      }
    </style>
  </body>
</html>
