---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <link rel="icon" type="image/svg+xml" href="/localbytoast-landing/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  @font-face {
    font-family: "Source-Sans-Pro";
    src: url("https://cdn.toasttab.com/static/273e44f3c591cc61089c4bb7fd21bdd0a6c7c965/fonts/SourceSansPro-Regular.ttf")
      format("truetype");
  }

  @font-face {
    font-family: "Source-Sans-Pro";
    src: url("https://cdn.toasttab.com/static/273e44f3c591cc61089c4bb7fd21bdd0a6c7c965/fonts/SourceSansPro-SemiBold.ttf")
      format("truetype");
    font-weight: 500;
  }

  @font-face {
    font-family: "Source-Sans-Pro";
    src: url("https://cdn.toasttab.com/static/273e44f3c591cc61089c4bb7fd21bdd0a6c7c965/fonts/SourceSansPro-SemiBold.ttf")
      format("truetype");
    font-weight: 600;
  }

  @font-face {
    font-family: "Source-Sans-Pro";
    src: url("https://cdn.toasttab.com/static/273e44f3c591cc61089c4bb7fd21bdd0a6c7c965/fonts/SourceSansPro-Bold.ttf")
      format("truetype");
    font-weight: bold;
  }

  @font-face {
    font-family: "Effra";
    src: url("https://cdn.toasttab.com/static/273e44f3c591cc61089c4bb7fd21bdd0a6c7c965/fonts/Effra-StdRg.ttf")
      format("truetype");
  }

  @font-face {
    font-family: "Effra";
    src: url("https://cdn.toasttab.com/static/273e44f3c591cc61089c4bb7fd21bdd0a6c7c965/fonts/Effra-Medium.ttf")
      format("truetype");
    font-weight: 500;
  }

  @font-face {
    font-family: "Effra";
    src: url("https://cdn.toasttab.com/static/273e44f3c591cc61089c4bb7fd21bdd0a6c7c965/fonts/Effra-Bold.ttf")
      format("truetype");
    font-weight: bold;
  }

  h1 {
    @apply font-effra text-4xl font-[500] lg:text-6xl;
  }

  h2 {
    @apply font-effra text-3xl md:text-[52.5px] md:leading-[3.5rem] font-[500] text-[#252525];
  }

  h3 {
    @apply font-sans font-normal text-[24.75px] text-[#6C6865] leading-[2rem];
  }
 
</style>
